/*
Theme Name: SKT Cafe Child
Theme URI: https://www.sktthemes.net/shop/free-coffeehouse-wordpress-theme
Author: SKT Themes
Author URI: https://www.sktthemes.net
Template: skt-cafe
Description: SKT Cafe is easy, simple, flexible to use for cafe, coffee shop, restaurant, bistro, fast food, recipe, chef, kitchen, beans, tea, eat, drink, pizza delivery, bakery, cafeteria, sushi bars, barbecues, cuisine etc. Can also be used for motel, hotel, lodge, home stay and hospitality business. WordPress 5 gutenberg editor and multilingual WooCommerce friendly. Get documentation at http://sktthemesdemo.net/documentation/cafe-pro-documentation/ and view beautiful demo at https://sktperfectdemo.com/demos/cafe/

Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: skt-cafe-child
Tags: two-columns,right-sidebar,custom-background,custom-colors,custom-menu,sticky-post,theme-options,threaded-comments,featured-images,custom-logo,editor-style,custom-header,blog,entertainment,food-and-drink 

SKT Cafe is based on Underscores theme(Underscores is distributed under the terms of the GNU GPL v2 or later).

SKT Cafe WordPress Theme has been created by SKT Themes(sktthemes.net), 2019.
SKT Cafe WordPress Theme is released under the terms of GNU GPL
*/

.menu {
	display: none;
}

.entry-header {
	display: none;
}

.entry-summary {
	display: none;
}

#sidebar {
	display: none;
}

.copyright-txt {
	display: none;
}

.footerinfoarea {
	display: none;
}

.page_content {
	padding: 0 !important;
}

.entry-title {
	margin: 0;
}

.entry-title {
	display: none;
}

/*Footer Styling*/
.entry-content .vc_row .wpb_column {
	color: white;
	line-height: 0;
}

.private-event {
	font-family: sans-serif;
}

.av_textblock_section .avia_textblock .ps-private-content {
	margin: 0 auto;
    max-width: 887px;
}

.vc_row.vc_column-gap-35>.vc_column_container {
    padding: 20.5px;
}

/*All Images Styling*/
.underline .wpb_wrapper .vc_single_image-wrapper .vc_single_image-img {
	width: 50%;
}

.srx-the-loft-img .wpb_wrapper .vc_single_image-wrapper .vc_single_image-img {
	width: 270px;
	height: 100px;
}

/*Private Sytling*/
.srx-private {
	padding: 60px 320px;
}

.custom-btn a {
	margin-top: 20px;
    padding: 16px 30px !important;
    font-size: 24px !important;
}

/*The Loft Styling*/
.srx-the-loft {
	padding: 25px 420px;
}

.attachment-medium {
	width: 100px;
}

/*Our Culture*/
.srx-our-culture {
	padding: 80px 230px;
}

/*Menu*/
.srx-menu {
	padding: 30px 420px;
}

/*Our Craft Styling*/
.srx-our-craft {
	padding: 60px 0;
}

.srx-our-craft-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item a img {
	width: 200px;
	height: 200px;
}

.srx-our-craft-imgs-para {
	padding: 10px 150px;
}

.three-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item img {
	padding: 5px;
}

/*Join Pizza La Stella Sytling*/
.srx-join-la-stella {
	padding: 20px;
}

.srx-join-la-stella-p {
    padding-right: 350px;
    padding-left: 350px;
}

/*Header Styling*/
.mySlides {
	position: relative;
}

.header-imgs img {
	width: 100%;
	height: auto;
	transition: 2s ease;
}

.logo-img {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	width: 30%;
  	height: auto;
}

.header-scroll {
	display: none;
	position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    opacity: 0.9;
    border-bottom: 1px solid #ffffff;
    background-color: #006d8e;
}

.social-icons {
	position: fixed;
  	top: 10px;
  	left: 280px;
}

.social-icons i {
	border: 1px solid #ffffff;
	width: 40px;
  	height: 40px;
  	line-height: 40px;
  	border-radius: 50%;
  	text-align: center;
  	color: #ffffff;
  	margin-right: 3px;
  	font-size: 22px;
}

.social-icons a {
	background: none !important;
	margin: 0;
}

.social-icons a:hover {
	background: none !important;
}

.header-btn {
	position: fixed;
  	top: 10px;
  	right: 350px;
}

.header-btn button {
	text-transform: uppercase;
	background-color: transparent;
	border-style: none;
	border: 1px solid #ffffff;
	border-radius: 5px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	padding: 10px;
	margin: 0 5px;
}

.header-btn button:hover {
	cursor: pointer;
	opacity: 0.8;
	text-decoration: underline;
}

.header-btn span {
	color: #ffffff;
}

.top-menu span {
	position: fixed;
  	top: 18px;
  	right: 180px;
  	color: #ffffff;
  	font-size: 40px;
  	transition: transform .3s ease;
  	z-index: 2;
}

.top-menu span:hover {
	color: #d3d3d3;
	cursor: pointer;
}

.top-menu span:before {
  	content: "\2630";
}

.top-menu span.close {
  	transform: rotate(180deg);
}

.top-menu span.close:before {
  content: "\2715";
}

.menu-item {
	list-style-type: none;
}

.sidenav {
	height: 100%;
    width: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #006d8e;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    padding: 170px 0;
    z-index: 1;
    overflow-y: auto;
}

.sidenav a {
  	padding: 15px 0px 15px 40px;
  	text-decoration: none;
  	font-size: 14px;
  	color: #ffffff;
  	display: block;
  	transition: 0.9s;
}

.sidenav a:hover {
  color: #d3d3d3;
}

#mySidenav .menu-item-has-children::before {
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	content: "\f105";
  	font-family: 'Font Awesome 5 Free';
  	float: right;
    line-height: 48px;
    padding: 0 25px;
}

/*Footer Area Styling*/
.footer_bg_color {
	background-color: #006d8e;
}

#media_image-4 {
	width: 80%;
	height: auto;
}

#media_image-5 .image  {
	width: 80%;
	margin-top: 5px;
}

.widget {
	list-style-type: none;
}

.widgettitle {
	color: #ffffff;
	font-family: 'Raleway';
	font-size: 14px;
}

.textwidget p {
	margin-bottom: 15px;
	font-family: 'Helvetica';
	color: #ffffff;
}


.textwidget p a {
	color: #ffffff;
}

/*Media Queries*/

@media only screen and (max-width: 1200px) {
	.social-icons {
  		left: 50px;
	}

	.top-menu span {
  		right: 50px;
  	}

  	.header-btn {
  		right: 100px;
	}
	.srx-join-la-stella-p {
    	padding-right: 150px;
    	padding-left: 150px;
	}

	.srx-our-craft-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item a img {
		width: 150px;
		height: 150px;
	}

	.srx-our-craft-imgs-para {
		padding: 10px 100px;
	}

	.srx-menu {
		padding: 30px 300px;
	}

	.srx-our-culture {
		padding: 70px 150px;
	}

	.srx-the-loft {
		padding: 25px 300px;
	}

	.srx-private {
		padding: 50px 200px;
	}

}

@media only screen and (max-width: 992px) {
	.submit-btn {
		margin-top: 10px;
	}

	.srx-weekday-heading {
		font-size: 45px !important;
	}

	.srx-our-craft {
    	padding: 40px 0;
	}

	.srx-our-craft-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item a img {
		width: 130px;
		height: 130px;
	}

	.srx-our-craft-imgs-para {
		padding: 10px 70px;
	}

	.srx-menu {
		padding: 30px 200px;
	}

	.srx-our-culture {
		padding: 50px 100px;
	}

	.srx-the-loft {
		padding: 25px 200px;
	}

	.srx-private {
		padding: 40px 150px;
	}

}

@media only screen and (max-width: 768px) {

	.site-main {
		padding: 0 !important;
	}

	.header-scroll {
    	height: 70px;
	}

	.social-icons {
		display: none;
	}

	.top-menu span {
  		margin-top: 10px;
	}

	.header-btn {
  		margin-top: 10px;
  		left: 40px;
	}

	.srx-join-la-stella {
		padding: 10px;
	}

	.srx-join-la-stella-p {
    	padding-right: 100px;
    	padding-left: 100px;
	}

	.input-fields {
    	padding: 10px 0px !important;
    	font-size: 18px !important;
	}

	.submit-btn {
		margin-top: 10px;
	}

	.srx-weekday-heading {
		font-size: 35px !important;
	}

	.srx-our-craft {
    	padding: 25px 0;
	}

	.srx-our-craft-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item a img {
		width: 100px;
		height: 100px;
	}

	.srx-our-craft-imgs-para {
		padding: 0px 10px;
	}

	.srx-menu {
		padding: 10px 100px;
	}

	.srx-our-culture {
		padding: 30px 50px;
	}

	.srx-the-loft {
		padding: 10px 100px;
	}

	.srx-private {
		padding: 20px 80px;
	}

	.widgettitle {
		font-size: 12px;
	}

	.textwidget p {
		font-size: 12px;
	}

}

@media only screen and (max-width: 767px) {
	.widgettitle {
		margin-top: 30px;
		font-size: 16px;
	}
}

@media only screen and (max-width: 576px) {

	.header-scroll {
    	height: 55px;
	}

	.top-menu span {
  		margin-top: 5px;
  		font-size: 30px;
	}

	.header-btn {
		margin-top: 5px;
		left: 30px;
	}

	.header-btn button {
	font-size: 12px;
	padding: 5px;
	margin: 0 3px;
}

	.srx-join-la-stella {
		padding: 0;
	}

	.srx-join-la-stella-p {
    	padding-right: 10px;
    	padding-left: 10px;
	}

	.input-fields {
		display: block;
		width: 100%;
		margin-top: 10px;
	}

	.submit-btn {
		margin-top: 10px;
		width: 100%;
	}

	.srx-weekday-heading {
		font-size: 25px !important;
	}

	.srx-our-craft {
    	padding: 15px 0;
	}

	.srx-our-craft-imgs .wpb_wrapper .wpb_image_grid .wpb_image_grid_ul .isotope-item a img {
		width: 150px;
		height: 150px;
	}

	.srx-our-craft-imgs-para {
		padding: 0px 10px;
	}

	.srx-menu {
		padding: 5px 50px;
	}

	.srx-our-culture {
		padding: 10px 20px;
	}

	.srx-the-loft {
		padding: 10px 20px;
	}

	.srx-private {
		padding: 10px 20px;
	}

}